extends ../templates/template


block index
    //- .title Manejo de sesiones
    
    .wrapper-container
        .container-img
            img(src="./img/img-desk 1.png", alt="")
            .note
                //- iconify-icon(icon="simple-line-icons:paper-clip" rotate="180deg" flip="vertical")
                span.note__text
                    | To-Do App
                    iconify-icon(icon="material-symbols:check") 
            .text
                .title Lorem Ipsum
                .content Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus vestibulum, nulla sed semper suscipit, dolor eros gravida ipsum,