

extends ../templates/template.pug


block login

    form(method="POST" action="/login").login-form
        iconify-icon(icon="ph:user-circle-fill").login-form__user-icon
        .login-form__wrapper
            h2.login-form__title LOGIN
        .login-form__wrapper
            label(for="input-user").login-form__label username: 
            input(type="text" id="input-user" name="username" placeholder="username").login-form__input
        .login-form__wrapper
            label(for="input-password").login-form__label password: 
            input(type="password" id="input-password" name="password" placeholder="password").login-form__input
        .login-form__wrapper
            input(type="submit" id="input-submit" value="Iniciar Sesión").login-form__input.login-form__input--submit
