


.title
{
    color: #fff;
    margin-left: 2rem;
    margin-bottom: 2ren;
}

.login-form
{
    margin-top: 100px;
}


.user-info__label
{   
    border-radius: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    &:hover .user-info__img
    {
        transform: scale(1.1);
    }

    &:hover::before
    {
        transform: translate(-50%, -50%) rotate(135deg) scale(1.1);
    }

    &::before
    {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        border: 2px solid $color-link-orange;
        border-color: transparent transparent $color-link-orange $color-link-orange;
        z-index: -1;
        transform: translate(-50%, -50%) rotate(135deg) scale(1);
        transition: transform .25s ease;
    }

    .user-info__img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        display: block;
        transition: transform .25s ease;
    }

    iconify-icon[icon="material-symbols:edit"]
    {
        padding: .1rem;
        position: absolute;
        bottom: 0;
        right: 20%;
        border-radius: 50%;
        background-color: rgba($color: #182D3E, $alpha: .7);
        color: #fff;
    }
}
.user-info__input
{
    display: none;
}